<div id="background">
  <header class='clearfix'>
    <div class="wrapper_wide">
      <a href="#" id="logo">Upodcast.me</a>
      <nav>
        <ul>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Create a Podcast</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover your next favorite <br>podcast, or simple create your own.</h1>
    <a href="#" class="button button_highlight">Create a podcast</a>
    <a href="#" class="button button_white">Explore</a>
  </div>
</div>